@tailwind base;
@tailwind components;
@tailwind utilities;






@font-face {
font-family: 'heading-new';
src: url('C:\Users\hp\triverse-ieee\triverse-ieee-bu\triverse\biorhyme\biorhyme\BioRhyme-VariableFont_wdth,wght.ttf');
}

.size-big{
  font-size: 6rem;
}
.wh{
  width: 50dvw;
  height: 40dvh;
}

.font-head{
  font-family: 'heading-new';

}

.yellowM{
  background-color:#F8E559 ;

}
.purpleM{
  background-color:#864AF9;
}

.dardPurpleM{
  background-color:#3B3486 ;
}

.darkestM{
  background-color: #332941;
}

.imageCard{
  width: 20dvw;
  height: 44dvh;
  border: 1px solid purple;

}

/*Event card section styling*/
.card{
  width: 270px;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  border: 6px solid #71978c;
  position: relative;
  overflow: hidden;
  transition-duration: 109ms;
  margin-bottom: 5dvh;

box-shadow: rgba(192, 194, 193, 0.25) 0px 6px 12px -2px, rgba(189, 189, 189, 0.3) 0px 3px 7px -3px;

  
}
.card:hover > .card-body{
  right: 0;
  transition-duration: 190ms;
}

.card-img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 15px;
}

.card-body{
  width: 100%;
  height: 100%;
  top:0;
  right: -100%;
  position: absolute;
  background: rgb(159, 211, 209);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  color: #0e0e0e;
  padding:30px;
  transition-duration: 19ms;
  opacity: 1;
}

.card-title{

}

.card-btn{
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  background-color: #fff;
  color: black;
  opacity: 1;
  border-radius: 1px;
}

.card-btn:hover{
  opacity: 0.74;
}

.galleryCard{
  width: 80dvw;
  height: 27dvh;
}



.image-gallery{
  width: 75dvw; 
  row-gap: 10dvh;
}
 .timelineBox{
    width: 90dvw;
    border: 1px solid yellow;
    padding-left: 8dvw;
    background-color: black;
    
  }
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  display: none;

}

.PrizeMoney-component-body{
   background: #000405;
  min-height: 15vh;
  display: block;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  padding-top: 2dvh; 
  margin-bottom: 34dvh;
}
.pTag{
  font-size: 6vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}
.fancy {
  position: relative;
 
  white-space: nowrap;
  &:after {
    --deco-height: 0.3125em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.625);
    height: var(--deco-height);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='yellow' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='yellow' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
  }
}



.PrizeMoney-container {
  display: flex;
  justify-content: center; 
}

.PrizeMoney-component-body {
  max-width: fit-content;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Center vertically */
}


/* CSS rules for tablets */
@media only screen and (min-width: 600px) {
  .galleryCard{
    width: 90dvw;
    height: 40dvh;
  }
  .pTag{
    font-size: 6.5dvh;
  }
  
  
}

@media only screen and (min-width: 768px) {
  
    .galleryCard{
    width: 33dvw;
    height: 40dvh;
  
  }
  .image-gallery{
  width: 80dvw; 
  row-gap: 10dvh;
}
  .timelineBox{
    width: 70dvw;
    border: 1px solid yellow;
    padding-left: 0dvw;
    
  }
}

/*footer styling section begins*/

.footer{
background:#000;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

.nischal{
  color: #864AF9;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}
